<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/AddEmpOutput.css')}}"/>

</head>
<body>
	<div class="header">
        <div class="side-nav">
            <div class="user">
                <div>
					<h2>Thomas Daniel</h2>
                    <p>thomas@xyz.com</p>
                </div>
            </div>
			<ul>
				<li>
					<a href="{{url_for('loadPage')}}">
						<img src="{{url_for('static', filename='Images/add.png') }}" alt="AddEmp">
						<p>Add New Employee</p>
					</a>
				</li>
				<li>
					<a href="{{url_for('getEmp')}}">
						<img src="{{url_for('static', filename='Images/take-care.png') }}" alt="GetEmp">
						<p>Search Employee</p>
					</a>
				</li>
			</ul>
        </div>
    </div>
	<h1>Employee Database</h1>
	<form action="/addEmpHome" autocomplete="on" method="POST" enctype="multipart/form-data">
		<h2>SAVE SUCCESSFUL</h2><br>
		<h2>Following Employee has been added to the database</h2><br>
		<h2>{{ name }}</h2><br>

			<button type="submit">GO BACK</button><br><br>
	
	</form>
	</body>
	</html>