<!DOCTYPE html>
<html>
<head>
	<title>Search Employee Information</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/GetEmp.css')}}"/>

</head>
<body>
	<div class="header">
        <div class="side-nav">
            <div class="user">
                <div>
					<h2>Thomas Daniel</h2>
                    <p>thomas@xyz.com</p>
                </div>
            </div>
            <ul>
				<li>
					<a href="{{url_for('loadPage')}}">
						<img src="{{url_for('static', filename='Images/add.png') }}" alt="AddEmp">
						<p>Add New Employee</p>
					</a>
				</li>
				<li>
					<a href="{{url_for('getEmp')}}">
						<img src="{{url_for('static', filename='Images/take-care.png') }}" alt="GetEmp">
						<p>Search Employee</p>
					</a>
				</li>
				
			</ul>
        </div>
    </div>
	<h1>Employee Information</h1>
	<form action="/fetchdata" autocomplete="on" method="POST">
		<h2>Enter Employee ID</h2>
		<input type="number" name="emp_id" autofocus>
		<button type="submit">FETCH INFO</button><br><br>
	</form>
</body>
</html>
	
