<!DOCTYPE html>
<html>
<head>
	<title>Employee Information</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/GetEmpOutput.css')}}"/>
</head>
<body>
	<style>
		body {
		  color: white;
		}
	  </style>
	<div class="header">
        <div class="side-nav">
            <div class="user">
                <div>
					<h2>Thomas Daniel</h2>
                    <p>thomas@xyz.com</p>
                </div>
            </div>
            <ul>
				<li>
					<a href="{{url_for('loadPage')}}">
						<img src="{{url_for('static', filename='Images/add.png') }}" alt="AddEmp">
						<p>Add New Employee</p>
					</a>
				</li>
				<li>
					<a href="{{url_for('getEmp')}}">
						<img src="{{url_for('static', filename='Images/take-care.png') }}" alt="GetEmp">
						<p>Search Employee</p>
					</a>
				</li>
				<li>
					<a href="{{url_for('home')}}">
						<img src="{{url_for('static', filename='Images/folders.png') }}" alt="Home">
						<p>Home</p>
					</a>
				</li>
			</ul>
			
        </div>
    </div>
	<h1>Employee Information</h1>
	<form action="/getEmp" autocomplete="on" method="POST">
		<div>
			<label style="color: white;">Employee ID:</label> {{ id }} <br><br>
			<label style="color: white;">First Name:</label> {{ fname }} <br><br>
			<label style="color: white;">Last Name:</label> {{ lname }} <br><br>
			<label style="color: white;">Primary Skill:</label> {{ pskill }} <br><br>
			<label style="color: white;">Location:</label> {{ loc }} <br><br>
			<label style="color: white;">Hiring Date:</label> {{ hire }} <br><br>
			<label style="color: white;">Job Title:</label> {{ job }} <br><br>
			<label style="color: white;">Salary:</label> {{ salary }} <br><br>
			<label style="color: white;">Working Hour:</label> {{ hour }} <br><br>
			<label style="color: white;">Attendance:</label> {{ att }} <br><br>
			<label style="color: white;">Benefit:</label> {{ ben }} <br><br>
			<label style="color: white;">Image URL:</label> {{ image }} <br><br>
			<button type="submit"> Back </button><br><br>
		</div>
	</form>
	<form action="/deleteEmp" method="POST">
		<h2>DO YOU WANT TO DELETE?</h2><br>
    	<input type="hidden" name="employee_id" value="{{ id }}">
		<button type="submit">Delete</button>
	</form>

</body>
</html>
